<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="nuget.org"  value="https://api.nuget.org/v3/index.json" />
        <add key="SemearFWK" value="https://pkgs.dev.azure.com/Semear/_packaging/framework-netcore3/nuget/v3/index.json" />
        <add key="SemearLAB" value="https://pkgs.dev.azure.com/Semear/_packaging/labs-framework-netcore2/nuget/v3/index.json" />
    </config>
    <packageSources>
        <add key="nuget.org"  value="https://api.nuget.org/v3/index.json" />
        <add key="SemearFWK" value="https://pkgs.dev.azure.com/Semear/_packaging/framework-netcore3/nuget/v3/index.json" />
        <add key="SemearLAB" value="https://pkgs.dev.azure.com/Semear/_packaging/labs-framework-netcore2/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <SemearLAB>
            <add key="Username" value="AzureArtifacts" />
            <add key="ClearTextPassword" value="x67smrxtcya42jczeegwrjqnfwevinruj6zzkmjandlua3ykq4ja" />
        </SemearLAB>
        <SemearFWK>
            <add key="Username" value="AzureArtifacts" />
            <add key="ClearTextPassword" value="x67smrxtcya42jczeegwrjqnfwevinruj6zzkmjandlua3ykq4ja" />
        </SemearFWK>
    </packageSourceCredentials>
</configuration>
